@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("img/fotoPortada.jpg"), #000;
    background-blend-mode: screen;
}

.inicio {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Gluten', cursive;
    h1 {
        font-size: 4.5em;
        color: #ECF0F1;
        text-shadow: 2px 2px 2px #000;
        text-transform: uppercase;
    }
    #btn-empezarJuego {
        margin-top: 1em;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 1em 2em;
        text-transform: uppercase;
        background: #82E0AA;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 1px 5px 1px #000;
        &:active {
            box-shadow: none;
        }
    }
}

.inicio.ocultarInicio {
    display: none;
}

.juego {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #DCDCDC;
    height: 100vh;
    width: 100vw;
    padding: 1em;
    .imagen-mapa {
        position: relative;
        svg {
            width: 40%;
            fill: #ECF0F1;
            stroke: #000;
            stroke-width: 5px;
            #ARG1272 {
                fill: #28B463;
            }
        }
        img {
            height: 600px;
        }
    }
    .provincias {
        align-self: center;
        label {
            color: #000;
            display: block;
            margin-bottom: .5em;
        }
        #label-titulo {
            margin-top: 1em;
            font-size: 1.5em;
        }
        #label-nombre {
            font-size: 1.5em;
        }
        input {
            display: inline-block;
            background: rgba(0, 0, 0, .2);
            margin-bottom: 1em;
            font-size: 1.2em;
            border: none;
            padding: .5em;
            transition: all .5s ease;
        }
        input:focus {
            outline: none;
            border: none;
            background: #F8F8FF;
            box-shadow: inset 0 -3px 0 #000;
        }
        #nombreInput {
            display: inline-block;
        }
        button {
            padding: .5em 1em;
            font-size: 1.1em;
            color: #fff;
            background: crimson;
            text-transform: uppercase;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            box-shadow: 2px 2px 2px #000;
            transition: all .2s ease;
            &:active {
                box-shadow: none;
            }
        }
        .stCruz {
            input,
            button {
                display: none;
            }
        }
        .chubut {
            input,
            button {
                display: none;
            }
        }
        .neuquen,
        .buenos,
        .pampa,
        .rio,
        .entre,
        .fe,
        .cordoba,
        .sanLuis,
        .mendoza,
        .corrientes,
        .misiones,
        .chaco,
        .santiago,
        .tucuman,
        .catamarca,
        .rioja,
        .sanJuan,
        .formosa,
        .salta,
        .jujuy {
            input,
            button {
                display: none;
            }
        }
    }
}

.juego.mostrarJuego {
    display: grid;
}

#efectoOk {
    display: none;
}

.contenido-juego {
    display: none;
}

.contenido-juego.mostrar {
    display: block;
}

.contenido-nombre.ocultar {
    display: none;
}

.contenido-final {
    display: none;
    text-align: center;
    h1 {
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: .8em;
    }
    p {
        font-size: 1.2em;
        font-weight: 500;
    }
}